/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    display: flex;
    height: 100vh;
    width: 100vw;
	overflow: hidden;
}

nav{
    background-color: #9e9d9d;
	font-family: "Raleway", sans-serif;
	/* flex: 1; */
	min-width: 180px;
}

main{
	background-color: #f1f1f1;
	min-width: 480px;
	box-sizing: border-box;
}

nav ul{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
	padding: 0 1.2rem;
}

nav ul li{
	display: block;
	margin: 2rem auto;
	font-size: 1.2em;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
}

nav ul li a{
	text-decoration: none;
	color: #fff;
}

.active-page{
	text-decoration: underline #fff;
}

main{
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 5em;
}

main header{
	font-family: "Montserrat", sans-serif;
	width: 100%;
}

main header h1{
	margin-bottom: 0.1em;
	font-size: 3em;
	font-weight: bold;
	color: #545353;
}

.subtitle{
	padding: 0.1em 0;
	width: 100%;
	border-bottom: 2px solid black;
	font-size: 1.2em;
	color: #545353;
}

main section{
	display: block;
	width: 100%;
}

main section p{
	font-size: 1em;
}

figure{
	display: flex;
	align-items: center;
	flex: 1;
	margin: auto;
	padding-right: 2em;
}

figure img{
	border-radius: 50%;
	height: 50%;
	display: block;
}

@media (max-width: 1170px){
	figure img{
		height: 40%;
	}
	main header h1{
		font-size: 2.5em;
	}
	main{
		padding: 0 3em;
	}
}

@media (max-width:960px){
	figure{
		display: none;
	}

	main{
		justify-content: flex-start;
		align-items: center;
		padding: 5em 3em;
	}
}

@media (max-width:660px){
	nav{
		min-width: auto;
	}
}

@media (max-width: 620px){
	body{
		overflow: auto;
		flex-direction: column;
		width: 100%;
		height: auto;
		/* margin: 0 auto; */
	}

	main{
		padding: 2em 0.5em;
		min-width: auto;
	}

	nav{
		min-width: inherit;
	}
	nav ul{
		height: auto;
		margin: 0.1rem auto;
		font-size: 1em;
		/* height: 0vh; */
		transition: all 500ms ease;
	}
	nav ul li{
		margin: 1rem auto;
		font-size: 0.8em;
	}
}